<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find commons)/config/logger_levels.config"/>

    <!-- <arg name="model" default="waffle_for_open_manipulator" doc="model type"/> -->
    <arg name="model" default="waffle" doc="model type"/>

    <!-- Spawning robot in simulator and loading world. -->
    <!-- <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_3.launch"/> -->

    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>

    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch"> -->
    <include file="$(find turtlebot3_gazebo)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <!-- Robot description needed to spawn model. -->
    <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <!-- Spawning Turtlebot3 in specified position. -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

    <!-- Robot state publisher for RViz. -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

    <!-- RViz. -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d /home/bartek/study/repo/config.rviz"/> -->

    <!-- Manual control. -->
    <!-- <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering"/> -->

    <node pkg="sensory_processing" type="sensory_processing_node" name="sensory_processing_node" output="screen"/>


</launch>
