<library path="src">
  <class name="AgentDashboard" type="rqt_plugins.agent_dashboard.AgentDashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      RQT plugin for displaying information about motivated learning agent and also manually sending
      steering command to movement manger.
    </description>
    <qtgui>
      <!-- <group> -->
        <!-- <label>Topics</label> -->
      <!-- </group> -->
      <label>Agent Dashboard</label>
      <icon type="theme">dialog-error</icon>
      <statustip>Dashboard for agent using motivated learning to explore environment.</statustip>
    </qtgui>
  </class>
</library>